In [1]:
import pandas as pd
import numpy as np

In [ ]:
def build_train_data(data,t_step,n_jump=1):
  n_data=data.shape[0]
  n_feat=data.shape[1]

  m=np.arange(0,n_data-t_step,n_jump)
  x=[data[i:(i+t_step),:]for i in m]
  y=[data[i,:]for i in (m+t_step)]

  x_data=np.reshape(np.array(x),(len(m),t_step,n_feat))
  y_target=np.reshape(np.array(y),(len(m),n_feat))

  return x_data,y_target

In [11]:
def build_train_data(data,t_step,n_jump=1):
  xt=data.shape[0]
  yt=data.shape[1]

  m=np.arange(0,xt-t_step,n_jump)
  x=[data[i:(i+t_step)]for i in m]
  y=[data[(i+1):(i+1+t_step),:]for i in m]

  x_data=np.reshape(np.array(x),(len(m),t_step,yt))
  y_target=np.reshape(np.array(y),(len(m),t_step,yt))

  return x_data,y_target

In [12]:
df=pd.DataFrame({'f1':np.arange(50),'f2':np.arange(0.0,5,0.1)})
df.head()

   f1   f2
0   0  0.0
1   1  0.1
2   2  0.2
3   3  0.3
4   4  0.4

In [13]:
x_train, y_train= build_train_data(np.array(df),t_step=3,n_jump=2)